version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U airflow" ]
      interval: 10s
      timeout: 5s
      retries: 5

  airflow-webserver:
    image: apache/airflow:2.10.0
    command: standalone
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__RBAC=False
      - AIRFLOW__WEBSERVER__AUTH_BACKEND=airflow.api.auth.backend.default
      # Combined all necessary packages into one line to avoid conflicts
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests dbt-postgres psycopg2-binary sqlalchemy
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./dbt:/opt/airflow/dbt
      - .:/opt/airflow
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
